{:kotoba.app/id "cloud.itonami.isic-3510", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiejngofruicky37qmuhn7sug5rlrt52elgq2aarhid67bqjkcmszq", :kotoba.app/embed-url "ipfs://bafkreiejngofruicky37qmuhn7sug5rlrt52elgq2aarhid67bqjkcmszq", :published {:archive "https://kotobase.net/ipfs/bafkreiejngofruicky37qmuhn7sug5rlrt52elgq2aarhid67bqjkcmszq", :size 72764, :put-status 201, :get-status 200, :at "2026-08-15T13:39:09.919Z"}}
